.container {
  max-width: 999px;
  height: auto; 
  margin: 0 auto; 
}

.wrapper{
  width: 97%;
  margin: 31px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}





.selects > select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding-left: 22px;
  background: url(../../public/icons/dropdown.png) 99% / 3%  no-repeat #eee;
}
.select_title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.select_item{
  max-width: 906px;
  width: 100%;
  height: 44px;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  background: #F7F7F7;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Services */

.services{
  max-width: 946px;
  width: 100%;
  height: 372px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

.services_title{
  font-family: Roboto;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
margin: 24px 0 8px 0;

}

.price {
  display: grid;
  grid-template-columns: 40% 20% 20%;
}
.priceInput{
  margin-right: 30px;
  margin-top: 4px;
  max-width: 180px;
  height: 32px;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;

}

/* capacity */

.capacity{
  margin-top: 21px  ;
  max-width: 946px;
  width: 100%;
}

.capacity_title{
  font-family: 'Roboto';
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  margin-bottom: 18px;
}

.capacity_item{
  display: grid;
  grid-template-columns: 8%  20% 20%;
}
.capacity_item_form{
  width: 180px;
  height: 32px;
  background: #F7F7F7;
  border: 1px solid #000000;
  margin-top: 10px;
  margin-bottom: 22px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.capacity_item_text  {
  margin-top: 10px;
  font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
line-height: 32px;
}

.saveBtn{
  display: flex;
  margin: 40px 0 37px 0;
  margin-bottom: 37px;  
  margin-top: 40px;
  margin-left:auto
}