@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,h2,h3,h4,h5,h6,span,p {
  padding: 0;
  margin: 0;
}



li {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bigBtn{ 
  color: white;
  background: #8D15C6;
  padding:21px  61px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  border: none;
}

.smallBtn {
  color: white;
  background: #8D15C6;
  padding:16px  42px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  border: none;  
 
}

