@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,300&display=swap');

.container {
 width: 90%;
 height: auto; 
 margin: 0 auto; 
}
.wrapper  {
 width: 100%;
 max-width: 1389px;
 height: 366px; 
 margin: 0 auto;
 border: 1px solid gray;
 display: grid;
 grid-template-columns: 12% 58% 25% 5%;
 grid-auto-rows: auto;
}
.addBtn{
  display: flex;
  margin-bottom: 89px;
  margin-top: 40px;
  margin-left:auto
}
.numbers{
  width: 153px;
  border-right: 1px solid gray;

}
.corona{
  display: flex;
  justify-content: center;
  margin: 26px auto 0 auto;
}
.hotel_number {
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 41px;
}
.number_type {
  font-family: 'Roboto';
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
}
.description_list {
  margin: 26px 0 0 24px;
  padding: 0;
}

.description_item {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 690px;
}
.description_item_img {
  margin-bottom: 29px;
  margin-top: 5px;
  margin-right: 27px;
}
.description_item_text{
  font-family: 'Roboto';
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}
.price_list{
  padding: 0;
  display: flex;
  flex-direction: column
}

.price_item{
  display: flex;
  justify-content: start;
  margin-top: 18px;
}
.price{
  line-height: 45px;
}
.price_icon_settings{
  padding-top: 2px;
}
.price_icon{
  align-self: flex-end;
  margin-right: 18px;
}
.price{
  font-family: 'Roboto';
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}

.more_btn{
  cursor: pointer;
  margin-top: 26px;
  align-items: flex-start;
  position: relative;
  right: 5px;
}

.more_content{
  
}