.container{
    max-width: 946px;
    width: 100%;
    height: 372px;    
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}
.hotel_item_head_list{
    margin: 0;
    padding: 0;
}
.slider_image {
    margin: 19px 28px 19px 10px;
}
.hotel_item_head{
    margin: 19px 0 0 10px;
}
.hotel_item_head_img{
    margin-left: 20px;
}
.hotel_item_head_title{
    margin-bottom: 3px;
    font-family: 'Roboto';
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;

}
.hotel_item_list{
    display: flex;
    justify-content: start;
    padding-bottom: 10px
}
 /* Grid */
 .hotel_item_description_list{
     display: grid;
     grid-template-columns: 20% 70%;
     grid-template-rows: max-content;
 }

 .hotel_item_description_title{
     padding-bottom: 5px;
     font-family: 'Roboto';
     max-width: 98px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #828282;
 }
 .hotel_item_description_content{
     margin-bottom: 20px;
     font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
 }