.container {
    max-width: 999px;
    height: auto; 
    margin: 0 auto; 
    margin-top: 31px;
  }
  
  .wrapper{
    width: 97%;
    margin: 31px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  

.selects > select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding-left: 18px;

    background: url(../../public/icons/dropdown.png) 99% / 3%  no-repeat #eee;
  }


  .select_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
  }
  
  .select_item{
    max-width: 906px;
    width: 100%;
    height: 44px;
    margin-top: 10px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    background: #F7F7F7;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  

  .search_place{
    display: grid;
    grid-template-columns: 32% 41% 30%;
  }

  .search_place_item > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding-left: 22px;
    background: url(../../public/icons/dropdown.png) 96% / 9% no-repeat #eee;   
  }
  .search_place_item{
    width: 280px;
    height: 220px;
     margin-right: 48px;
    border: 1px solid #000000;
    box-sizing: border-box
  }
  .sleeping_place_title{
      margin-left: 16px;
      padding-top: 17px;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
 }

  .select_sleeping_place{
    max-width: 251px;
    margin: 44px auto 10px auto;
    width: 100%;
    height: 44px;
    margin-top: 10px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    background: #F7F7F7;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .sleeping_place_count_input{
    width: 180px;
    height: 44px;
    margin-left: 16px;
    margin-right: 8px;
    background: #F7F7F7;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
  }

  .plus_btn{
      margin-top: 50px;
  }
.search_btn {
    width: 245px;
    margin: 0 auto;
    margin-top: 41px;
}

.founded{
    display: flex;
    flex-direction: column;
}

.founded_title{
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    align-self: center;
    margin-top: 56px;
    margin-bottom: 26px;
}

.founded_numbers{
width: 145px;
  padding: 16px 0 16px 0;
  text-align: center;
  background: #D7D7D7;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 35px;
}